html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.btn-contact {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}
.btn-contact:active {
    background-color: #0056b3;
}
.nav-right a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.main-header {
    padding-block: 8%;
    width: 100%;
    background-image: url(../hasiera/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.main-header h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.separator {
    width: 100px;
    margin: 40px auto;
    border: none;
    border-top: 1px solid #ddd;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto 40px;
    padding: 0 20px;
}

.info-card {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.info-name {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.info-description {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .info-grid {
        grid-template-columns: 1fr;
    }
}

